/Account.class
/Area_of_shape.class
/Armstrong.class
/Armstrong1.class
/Assignment.class
/Assignmentbatch.class
/Cheaknum.class
/Cheknum.class
/Class5.class
/Data.class
/Dowhile.class
/Fd_account.class
/Forloop.class
/Forloop1.class
/Hotel.class
/Ipl.class
/Laptop.class
/Loop.class
/Mov1.class
/Movi.class
/Practice.class
/Precedure.class
/Primenum.class
/ProceduralApproch.class
/Procedure.class
/Recuring_account.class
/Result.class
/Saving_acc.class
/Saving_account.class
/Semister.class
/Shop.class
/StringBuffer.class
/Student.class
/Student1.class
/Student2.class
/Switchoddeven.class
/makeAddition.class
